<div class="container">
    <div class="float-right"><img src={{image}} class="image-size"><br>
    {{name}}
    </div>
  <div class="col-md-6 col-sm-6 ml-auto mr-auto margin-tp">
     
<h2>Welcome {{name}}</h2>

<table class="table table-bordered">
<tr class="table-schceme">
  <td>Name</td><td class="float-right">{{name}}</td>
</tr>
<tr>
  <td>Email</td><td class="float-right">{{email}}</td>
</tr>
<tr class="table-schceme">
  <td>Mobile</td><td class="float-right">{{mobile}}</td>
</tr>
<tr>
  <td>Gender</td><td class="float-right">{{gender}}</td>
</tr>

</table>
<button class="btn btn-success btn-back" (click)="logout()">Logout</button>

</div>
</div>